<p>
  {{display}}
</p>
<tr>
  <th> <button (click)="numberPressed(7)">7</button> </th>
  <th> <button (click)="numberPressed(8)">8</button> </th>
  <th> <button (click)="numberPressed(9)">9</button> </th>
  <th> <button (click)="symbolPressed('/')">/</button> </th>
</tr>
<tr>
  <th> <button (click)="numberPressed(4)">4</button> </th>
  <th> <button (click)="numberPressed(5)">5</button> </th>
  <th> <button (click)="numberPressed(6)">6</button> </th>
  <th> <button (click)="symbolPressed('*')">*</button> </th>
</tr>
<tr>
  <th> <button (click)="numberPressed(1)">1</button> </th>
  <th> <button (click)="numberPressed(2)">2</button> </th>
  <th> <button (click)="numberPressed(3)">3</button> </th>
  <th> <button (click)="symbolPressed('-')">-</button> </th>
</tr>
<tr>
  <th> <button (click)="symbolPressed('=')">=</button> </th>
  <th> <button (click)="numberPressed(0)">0</button> </th>
  <th> <button (click)="symbolPressed('.')">.</button> </th>
  <th> <button (click)="symbolPressed('+')">+</button> </th>

</tr>